//-script(src="/js/libs/1.9.1/jquery.js")
script(src='/js/libs/sea.js')
script(src='/js/seajs.config.js')
script.
    seajs.use('/js/common.js');


//-script(src='/libs/jquery/dist/jquery.min.js')
//-script(src='/js/config.js')
//-script(src='/js/common.js')