@import "settings.scss";
@import "scheduling.scss";
.table{
  thead{
    th{
      span,a{ padding: 0 10px;cursor: pointer; color:$navBgColor;
        &:hover{ color: $navBgOnColor;}
      }
    }
  }
  tbody{
    td{padding:5px 0;
      input{width: 60px; margin:0 10px;}
    }
  }
}
.topBasic{
  em{padding: 0 10px;}
}

