@import "../settings.scss";
.register_detail{
  figure{
    padding: 10px 0;
    img{width: 70px;height: auto;border-radius: 100%;float: left; margin-right: 10px;}
    figcaption{padding: 3px 0 0 0;}
  }
}