@import "../settings.scss";
.deliveryBox{
  width: 360px;margin-left: -180px;
  ul{
    li{
      margin:5px 0 10px;
      label{width:80px;display: inline-block;}
      input{width: 170px;}
      textarea{width: 170px;height: 72px;}
    }
  }
}
.popupBox{
  textarea{width: 100%;height: 60px;padding: 10px;box-sizing: border-box}
}