@import "../settings.scss";

.storageForm{
  ul li{
    input{height: 30px;line-height: 30px; width: 200px;width: 300px;margin-right: 10px;}
    label{padding-right: 10px;}
  }

  .btn{ margin-left: 115px;}
  .sBtn{margin-left: 0px;padding:0 10px;cursor:pointer;}
}



